{%load static%}
<!DOCTYPE html>
<html>

<head>
    <title>Twitter</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="{% static '/css/index.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.css">
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <ul>
                <li><svg id="twitter-logo" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M22.46 5.538a8.984 8.984 0 0 1-2.589.709 4.51 4.51 0 0 0-7.875 2.444 12.77 12.77 0 0 1-9.278-4.698 4.512 4.512 0 0 0-.611 2.267 4.506 4.506 0 0 0 2.009 3.729 4.494 4.494 0 0 1-2.044-.563v.057a4.508 4.508 0 0 0 3.622 4.412 4.49 4.49 0 0 1-1.195.16c-.292 0-.582-.017-.864-.053a4.515 4.515 0 0 0 4.212 3.131 9.044 9.044 0 0 1-5.596 1.931c-.364 0-.722-.02-1.078-.058a12.745 12.745 0 0 0 6.918 2.028c8.3 0 12.844-6.892 12.844-12.844l-.015-.586a8.999 8.999 0 0 0 2.214-2.315z"
                            fill="#1DA1F2" />
                    </svg>
                </li>
                <li>
                    <label class="sidebar-tabs">
                        <img src="https://img.icons8.com/sf-regular-filled/48/null/home-page.png" />
                        <a href="/index">Home</a>
                    </label>
                </li>
                <li><label class="sidebar-tabs">
                        <img src="https://img.icons8.com/sf-regular/48/null/hashtag.png" />
                        <a href="#" onclick="search_trigger()">Explore</a>
                    </label>
                </li>
                <li><label class="sidebar-tabs">
                        <img src="https://img.icons8.com/fluency-systems-filled/48/null/appointment-reminders.png" />
                        <a href="#">Notifications</a>
                    </label>
                </li>
                <li><label class="sidebar-tabs">
                        <img src="https://img.icons8.com/sf-regular-filled/48/null/bookmark-ribbon.png" />
                        <a href="#">Bookmark</a>
                    </label>
                </li>
                <li><label class="sidebar-tabs">
                        <img src="https://img.icons8.com/sf-regular-filled/48/null/checked-user-male.png" />
                        <a href="#">Profile</a>
                    </label>
                </li>
                <li><label class="sidebar-tabs">
                        <img src="https://img.icons8.com/sf-regular-filled/48/undefined/settings.png" />
                        <a href="#">Settings</a>
                    </label>
                </li>
                {% if request.user.is_authenticated %}
                <li><button type="button" class="tweet-btn" onclick="logout(event)">Logout</button></li>
                {%endif%}
            </ul>
        </div>

        <div class="main">

            <!-- <hr> -->
            <div class="main-search-card">
                <div class="bread-field">
                    <div class="btn-group w-100" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" onclick="searchTab('Tweets')" name="btnradio"
                            id="btnradio1" autocomplete="off" checked>
                        <label class="btn btn-outline-primary" for="btnradio1"><strong>Users</strong></label>
                        <input type="radio" class="btn-check" onclick="searchTab('Users')" name="btnradio"
                            id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2"><strong>Tweets</strong></label>
                    </div>
                </div>
                <div class="related_users">
                    <ol class="list-group list-group-numbered" id="related_user_append_id">
                    </ol>
                </div>
                <div id="related_tweets" style="display: none;"></div>
            </div>

            <div id="wrap-content">
                <div class="tweet-box">
                    <textarea placeholder="What's happening?" rows="2"></textarea>
                    <div class="actions">
                        <!-- <input type="file" id="tweet-image" accept="image/*" style="display: none;">
                        <button type="button" onclick="document.getElementById('tweet-image').click();">Add
                            Image</button> -->
                        <button type="button" onclick="postTweet(event)">Tweet</button>
                    </div>
                </div>
                {% for key, tweet in TweetsData.items %}
                <div class="tweet" id="tweet_{{key}}" value="{{key}}">
                    <div class="tweet-header">

                        <div class="tweet-header-info">
                            <h4 class="tweet-name">{{ tweet.author }}</h4>
                            <p class="tweet-username">@{{ tweet.author }}</p>
                            <p class="tweet-time" id="tweet_time_{{key}}"></p>
                        </div>
                        <p class="tweet-delete" onclick="deleteElement('{{key}}')">
                            {% spaceless %}
                            {% if tweet.author|slugify == request.user.username|slugify %}
                            x
                            {% endif %}
                            {% endspaceless %}
                        </p>
                        <!-- <img src="img_avatar.png" alt="Avatar" class="avatar"> -->
                    </div>
                    <p class="tweet-text" onclick="getComments('tweet_{{key}}','{{key}}')">{{ tweet.text }}</p>
                    <div class="tweet-icons">
                        <div class="comment-icon" onclick='replyFunc("tweet_{{key}}")'>
                            <i class="fa fa-comment tweet-small-icon"></i>
                            <span class="comment-count">{{ tweet.comments }}</span>
                        </div>
                        <div class="heart-icon">
                            <i class="fa fa-heart likes tweet-small-icon"
                                onclick="likeFunc(event.target.attributes, event.target,'tweet')"
                                style='color:{% if tweet.liked_users == "true" %}red{% endif %}'
                                value="{% if tweet.liked_users == 'true' %}true{% else %}false{% endif %}"
                                tweet_id="{{key}}"></i>
                            <span class="heart-count" id="tweetlikespan_{{key}}">{{ tweet.likes }}</span>
                        </div>
                        <div class="bookmark-icon">
                            <i class="fa fa-bookmark bookmark tweet-small-icon"
                                onclick="bookmark(event.target.attributes, event.target);"
                                value="{% if tweet.bookmarked_users == 'true' %}true{% else %}false{% endif %}"
                                tweet_id="{{key}}"
                                style='color:{% if tweet.bookmarked_users  == "true"%} red {% endif %}'></i>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
            <div id="spinner" style="text-align: center;">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>

        <div class="sidebar">
            <div class="row" style="display:flex;flex-direction: column;">
                <div class="d-none d-md-block sidebar-left">

                    <div class="input-group rounded search-bar">
                        <input type="search" id="search-input" class="form-control rounded search-input"
                            placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                        <span class="input-group-text border-0 search-icon" id="search-addon">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>

                    <div class="card trending-card">
                        <h2 class="card-title trending-title">#Trending</h2>
                        <div class="card-body trending-body">
                            <ul class="list-unstyled">
                                {% for tag in trendingTags %}
                                <li><a href="#" id="tag_{{tag.id}}" onclick="getTagTweet('{{tag.id}}')"
                                        class="trending-tag">{{forloop.counter}} -
                                        #{{tag.name}}</a>
                                    {% comment %} <span style="color:grey">{{tag.num_tweets}}</span> {% endcomment %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <p>Tweets go here...</p>
                </div>
            </div>
        </div>


    </div>
    {% if not request.user.is_authenticated %}
    <div class="footer">
        <h4><Strong>Don’t miss what’s happening
                People on Twitter are the first to know</Strong></h4>
        <ul>
            <li> <a href="/login"><button type="button" class="footer-btn">Login</button></a></li>
            <li> <a href="/signup"><button type="button" class="footer-btn">Signup</button></a></li>
        </ul>
    </div>
    {%endif%}
</body>

<script src="{%static 'js/base.js' %}"></script>
<script src="{%static 'js/index.js' %}"></script>
<script src="{%static 'js/comments.js' %}"></script>
<script src="{%static 'js/search.js' %}"></script>
<script>
    let requestUser = "{{request.user}}"
    {%if following_user %} let following = {{ following_user }}{% endif %}
    let currentuser = "{{request.user.is_authenticated}}"
    {% for key, tweet in TweetsData.items %}
    timestampConvert("{{ tweet.time }}", "tweet_time_{{key}}")
    {% endfor %}

</script>

</html>