<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            
            background-color: #0c85d0; 
        }

        .btn-login {
            font-size: 0.9rem;
            letter-spacing: 0.05rem;
            padding: 0.75rem 1rem;
        }

        .login-logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        #twitter-logo {
            width: 100px !important;
            height: 80px !important
        }
    </style>
</head>

<body>
    <form method="post">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card border-0 shadow rounded-3 my-5">
                        <div class="card-body p-4 p-sm-5">
                            <div class="login-logo">
                                <svg id="twitter-logo" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M22.46 5.538a8.984 8.984 0 0 1-2.589.709 4.51 4.51 0 0 0-7.875 2.444 12.77 12.77 0 0 1-9.278-4.698 4.512 4.512 0 0 0-.611 2.267 4.506 4.506 0 0 0 2.009 3.729 4.494 4.494 0 0 1-2.044-.563v.057a4.508 4.508 0 0 0 3.622 4.412 4.49 4.49 0 0 1-1.195.16c-.292 0-.582-.017-.864-.053a4.515 4.515 0 0 0 4.212 3.131 9.044 9.044 0 0 1-5.596 1.931c-.364 0-.722-.02-1.078-.058a12.745 12.745 0 0 0 6.918 2.028c8.3 0 12.844-6.892 12.844-12.844l-.015-.586a8.999 8.999 0 0 0 2.214-2.315z"
                                        fill="#1DA1F2" />
                                </svg>
                                <h5 class="card-title text-center mb-5 fw-light fs-5"><strong>Sign In</strong></h5>
                            </div>
                            {%if error_msg %}
                            <div class="alert alert-warning" role="alert">
                                {{error_msg}}
                            </div>
                            {%endif%}
                            {% if request.GET.success_msg %}
                                <div class="alert alert-success" role="alert">
                                    Please Login In To Continue.
                                </div>
                            {% endif %}
                            
                            <form>
                                <div class=" mb-3">
                                    {{form.username}}
                                </div>
                                <div class=" mb-3">
                                    {{form.password}}
                                </div>

                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                                    <label class="form-check-label" for="rememberPasswordCheck">
                                        Remember password
                                    </label>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Sign
                                        in</button>
                                </div>
                                <hr class="my-4">
                            </form>
                            <span class="signin-link">Don't have an account? Click here to <a href="/signup">Sign
                                    Up</a></span><br />
                            <span class="signin-link"><a href="/index">HomePage</a></span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>

</body>

</html>