{% comment %} {% block content %}
<h2>Signup</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Signup</button>
</form>
{% endblock %} {% endcomment %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .form-container {
            background-color: #fff;
            font-family: 'Titillium Web', sans-serif;
            font-size: 0;
            padding: 30px;
            border-radius: 20px;
            box-shadow: 0 0 25px -15px rgba(0, 0, 0, 0.3);
        }

        .form-container .title {
            color: #000;
            font-size: 25px;
            font-weight: 600;
            text-transform: capitalize;
            margin: 0 0 25px;
        }

        .form-container .title:after {
            content: '';
            background-color: #00A9EF;
            height: 3px;
            width: 60px;
            margin: 10px 0 0;
            display: block;
            clear: both;
        }

        .form-container .sub-title {
            color: #333;
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            text-transform: uppercase;
            margin: 0 0 20px;
        }

        .form-container .form-horizontal {
            font-size: 0;
        }

        .form-container .form-horizontal .form-group {
            color: #333;
            width: 50%;
            padding: 0 8px;
            margin: 0 0 15px;
            display: inline-block;
        }

        .form-container .form-horizontal .form-group:nth-child(4) {
            margin-bottom: 30px;
        }

        .form-container .form-horizontal .form-group label {
            font-size: 17px;
            font-weight: 600;
        }

        .form-container .form-horizontal .form-control {
            color: #888;
            background: #fff;
            font-weight: 400;
            letter-spacing: 1px;
            height: 40px;
            padding: 6px 12px;
            border-radius: 10px;
            border: 2px solid #e7e7e7;
            box-shadow: none;
        }

        .form-container .form-horizontal .form-control:focus {
            box-shadow: 0 0 5px #dcdcdc;
        }

        .form-container .form-horizontal .check-terms {
            padding: 0 8px;
            margin: 0 0 25px;
        }

        .form-container .form-horizontal .check-terms .check-label {
            color: #333;
            font-size: 14px;
            font-weight: 500;
            font-style: italic;
            vertical-align: top;
            display: inline-block;
        }

        .form-container .form-horizontal .check-terms .checkbox {
            height: 17px;
            width: 17px;
            min-height: auto;
            margin: 2px 8px 0 0;
            border: 2px solid #d9d9d9;
            border-radius: 2px;
            cursor: pointer;
            display: inline-block;
            position: relative;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            transition: all 0.3s ease 0s;
        }

        .form-container .form-horizontal .check-terms .checkbox:before {
            content: '';
            height: 5px;
            width: 9px;
            border-bottom: 2px solid #00A9EF;
            border-left: 2px solid #00A9EF;
            transform: rotate(-45deg);
            position: absolute;
            left: 2px;
            top: 2.5px;
            transition: all 0.3s ease;
        }

        .form-container .form-horizontal .check-terms .checkbox:checked:before {
            opacity: 1;
        }

        .form-container .form-horizontal .check-terms .checkbox:not(:checked):before {
            opacity: 0;
        }

        .form-container .form-horizontal .check-terms .checkbox:focus {
            outline: none;
        }

        .form-container .signin-link {
            color: #333;
            font-size: 14px;
            width: calc(100% - 190px);
            margin-right: 30px;
            display: inline-block;
            vertical-align: top;
        }

        .form-container .signin-link a {
            color: #00A9EF;
            font-weight: 600;
            transition: all 0.3s ease 0s;
        }

        .form-container .signin-link a:hover {
            text-decoration: underline;
        }

        .form-container .form-horizontal .signup {
            color: #fff;
            background: #00A9EF;
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;
            width: 160px;
            padding: 8px 15px 9px;
            border-radius: 10px;
            transition: all 0.3s ease 0s;
        }

        .form-container .form-horizontal .btn:hover,
        .form-container .form-horizontal .btn:focus {
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: 3px 3px rgba(0, 0, 0, 0.15), 5px 5px rgba(0, 0, 0, 0.1);
            outline: none;
        }

        body {
            background: #007bff;
            background: linear-gradient(to right, #0062E6, #33AEFF);
            color: #000;
        }

        .login-logo {
            display: flex;
            justify-content: space-between;
        }

        #twitter-logo {
            width: 60px !important;
            height: 60px !important
        }
    </style>
</head>

<body>
    {%if error_msg %}
    <div class="alert alert-warning" role="alert">
        {{error_msg}}
    </div>
    {%endif%}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-container">
                    <div class="login-logo">
                        <h3 class="card-title text-center mb-5  fs-5"><strong>Sign Up</strong></h3>
                        <svg id="twitter-logo" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M22.46 5.538a8.984 8.984 0 0 1-2.589.709 4.51 4.51 0 0 0-7.875 2.444 12.77 12.77 0 0 1-9.278-4.698 4.512 4.512 0 0 0-.611 2.267 4.506 4.506 0 0 0 2.009 3.729 4.494 4.494 0 0 1-2.044-.563v.057a4.508 4.508 0 0 0 3.622 4.412 4.49 4.49 0 0 1-1.195.16c-.292 0-.582-.017-.864-.053a4.515 4.515 0 0 0 4.212 3.131 9.044 9.044 0 0 1-5.596 1.931c-.364 0-.722-.02-1.078-.058a12.745 12.745 0 0 0 6.918 2.028c8.3 0 12.844-6.892 12.844-12.844l-.015-.586a8.999 8.999 0 0 0 2.214-2.315z"
                                fill="#1DA1F2" />
                        </svg>
                    </div>
                   
                    
                    <form class="form-horizontal" method="post" action=".">
                        {% csrf_token %}
                        <div class="form-group">
                            {{form.username}}
                        </div>
                        <div class="form-group">
                            {{form.name}}
                        </div>
                        <div class="form-group">
                            {{form.email}}
                        </div>

                        <div class="form-group">
                            {{form.password1}}
                        </div>
                        <div class="form-group">
                            {{form.password2}}
                        </div>
                        <h4 class="sub-title">Personal Information</h4>
                        <div class="form-group">
                            {{form.age}}
                        </div>
                        <div class="form-group">
                            {{form.gender}}
                        </div>
                        <div class="form-group">
                            {{form.occupation}}
                        </div>
                        <div class="form-group">
                            {{form.location}}
                        </div>
                        <div class="check-terms">
                            <input type="checkbox" class="checkbox">
                            <span class="check-label">I agree to the terms</span>
                        </div>
                        <span class="signin-link">Already have an account? Click here to <a
                                href="/login">Login</a></span>
                        <button class="btn signup">Create Account</button>
                    </form>
                    <span class="signin-link"><a href="/index">HomePage</a></span>
                    
                </div>
            </div>
        </div>
    </div>

</body>

</html>