 body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", sans-serif;

}

.wrapper {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 350px;
    height: 100%;
    color: black;
    padding: 20px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    /* background-color: #f7f9fa; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height:100%;
}

.sidebar h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
    padding-top:15%
}

.sidebar li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.sidebar li a:hover {
    background-color: #1da1f2;
    width:100%
}

.sidebar-tabs{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.sidebar-tabs img{
  width:35px;
  height:35px
}

.main {
    flex: 1;
}

.main h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
}

.main p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}


.tweet-header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.tweet-delete{
  align-self: flex-start;
}

#twitter-logo{
    width:100px !important;
    height:80px !important
}


.card {
  margin-bottom: 20px;
}

.card-body {
  padding: 15px;
}

.card-header {
  padding: 10px 15px;
  background-color: #f5f8fa;
}

.card-title {
  margin-bottom: 0;
}

.input-group {
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #1da1f2;
  border-color: #1da1f2;
}

.btn-primary:hover {
  background-color: #0c8ecf;
  border-color: #0c8ecf;
}

.list-unstyled {
  margin-bottom: 0;
}

.list-unstyled li a {
  color: black;
}

.list-unstyled li a:hover {
  text-decoration: underline;
}


.tweet-icons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap:15%
}

.tweet{
    border: 1px solid #ccc;
    padding:2%;
    border-radius: 20px;
    margin: 1%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    
}
.comment{
  border: 1px solid #ccc;
  padding:2%;
  margin-top: 2%;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.tweet-small-icon{
    color:grey;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }



  .tweet-box {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tweet-box textarea {
    flex-grow: 1;
    border: none;
    resize: none;
    font-size: 16px;
    line-height: 1.5;
    padding: 8px;
    margin-bottom: 8px;
}

.tweet-box .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.tweet-box .actions button {
    background: none;
    border: none;
    color: #1da1f2;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 8px;
    margin-left: 8px;
}

.tweet-box .actions button:hover {
    background-color: #f5f8fa;
}

.tweet-box input[type="file"] {
    display: none;
}

.tweet-box .image-preview {
    width: 100%;
    height: 120px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    margin-bottom: 8px;
}



  .tweet-btn{
    background-color: #1da1f2;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 16px;
    cursor: pointer;
    width:100%
  }

  .nav-tab img{
    padding:1%
  }

#spinner{
  text-align: center;
  opacity: 0;
}


  /*search -box*/

.main-search-card {
  width: 100%;
  display: none;
  flex-direction: column;
}

.bread-field {
  display: flex;
  justify-content: center;
}


/*footer*/

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:50px;
  background-color: #0c85d0;
  color: white;
  text-align: center;
  padding:3% 3% 4% 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}


.footer ul{
  display: flex;
  gap:10%;
  list-style: none;
}


.footer .footer-btn{
  background-color: white !important;
  color: #1da1f2 !important;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 16px;
  width:100%
}





.search-bar {
  margin-bottom: 20px;
}

.search-input {
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-icon {
  background-color: transparent;
  border: none;
  margin-left: -40px;
  margin-top: 2px;
  color: #a2a2a2;
}

.trending-card {
  border: none;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.trending-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #1da1f2;
  text-transform: uppercase;
}

.trending-tag {
  display: block;
  padding: 10px;
  color: #1da1f2;
  text-decoration: none;
  transition: background-color 0.2s ease;
  border-radius: 30px;
}

.trending-tag:hover {
  background-color: #f5f8fa;
  color:white;
  text-decoration: none;
}








